.mainBlock {
    height: 100vh;
    background-color: lightsteelblue;
}

.text {
    width: 300px;
    background-color: darkgray;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkseagreen;
}

